//! **************************************************************************
// Written by: Map P.20131013 on Thu Jan 29 18:50:45 2015
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "an<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "an<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "dp" LOCATE = SITE "C17" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "E18" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "R17" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP clk = BEL "r_reg_0" BEL "r_reg_1" BEL "r_reg_2" BEL "r_reg_3" BEL
        "r_reg_4" BEL "r_reg_5" BEL "r_reg_6" BEL "r_reg_7" BEL "r_reg_8" BEL
        "r_reg_9" BEL "r_reg_10" BEL "r_reg_11" BEL "r_reg_12" BEL "r_reg_13"
        BEL "r_reg_14" BEL "r_reg_15" BEL "r_reg_16" BEL "r_reg_17" BEL
        "r_reg_18" BEL "r_reg_19" BEL "r_reg_20" BEL "r_reg_21" BEL "r_reg_22"
        BEL "r_reg_23" BEL "r_reg_24" BEL "r_reg_25" BEL "r_reg_26" BEL
        "r_reg_27" BEL "r_reg_28" BEL "r_reg_29" BEL "r_reg_30" BEL "r_reg_31"
        BEL "seg_ctl/r_reg_14" BEL "seg_ctl/r_reg_13" BEL "seg_ctl/r_reg_12"
        BEL "seg_ctl/r_reg_11" BEL "seg_ctl/r_reg_10" BEL "seg_ctl/r_reg_9"
        BEL "seg_ctl/r_reg_8" BEL "seg_ctl/r_reg_7" BEL "seg_ctl/r_reg_6" BEL
        "seg_ctl/r_reg_5" BEL "seg_ctl/r_reg_4" BEL "seg_ctl/r_reg_3" BEL
        "seg_ctl/r_reg_2" BEL "seg_ctl/r_reg_1" BEL "seg_ctl/r_reg_0" BEL
        "clk_BUFGP/BUFG.GCLKMUX" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 20 ns HIGH 50%;
SCHEMATIC END;

