//! **************************************************************************
// Written by: Map P.68d on Fri Nov 15 17:15:59 2013
//! **************************************************************************

SCHEMATIC START;
COMP "stop" LOCATE = SITE "D18" LEVEL 1;
COMP "zero" LOCATE = SITE "B4" LEVEL 1;
COMP "DP" LOCATE = SITE "C17" LEVEL 1;
COMP "Ca" LOCATE = SITE "L18" LEVEL 1;
COMP "Cb" LOCATE = SITE "F18" LEVEL 1;
COMP "tp2" LOCATE = SITE "C4" LEVEL 1;
COMP "Cc" LOCATE = SITE "D17" LEVEL 1;
COMP "Cd" LOCATE = SITE "D16" LEVEL 1;
COMP "Ce" LOCATE = SITE "G14" LEVEL 1;
COMP "Cf" LOCATE = SITE "J17" LEVEL 1;
COMP "Cg" LOCATE = SITE "H14" LEVEL 1;
COMP "tp" LOCATE = SITE "A4" LEVEL 1;
COMP "zero2" LOCATE = SITE "C3" LEVEL 1;
COMP "AN0" LOCATE = SITE "F17" LEVEL 1;
COMP "AN1" LOCATE = SITE "H17" LEVEL 1;
COMP "AN2" LOCATE = SITE "C18" LEVEL 1;
COMP "AN3" LOCATE = SITE "F15" LEVEL 1;
COMP "start" LOCATE = SITE "B18" LEVEL 1;
COMP "Reset" LOCATE = SITE "H13" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

